.form-input {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 15px;

  label {
    font-family: "Sf-ui-display semibold";
    font-size: 0.45em;
    line-height: 165%;
    letter-spacing: 0.04em;
    color: #737373;
    padding-bottom: 3px;

    span {
      padding-left: 5px;
      color: #FD665E;
    }
    @media screen and (max-width: 600px) {
      font-size: 0.6em;
    }
  }

  input {
    max-width: 100%;
    height: 65px;
    background: #FFFFFF;
    border: 2px solid #C9C9C9;
    padding: 0 25px;
    font-family: "Sf-ui-display semibold";
    font-size: 0.7em;
    letter-spacing: 0.01em;
    color: #000000;

    &::placeholder {
      font-family: "Sf-ui-display light";
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.9em;
    }

    &:hover {
      border: 2px solid #939393;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid #FD665E;
    }

    @media screen and (max-width: 1050px) {
      height: 50px;
      padding: 0 20px;
    }
  }
}
